@media (max-width: 768px) {
  /* 1. Navbar */
  #nav-bar a:nth-child(3) {
    display: none;
  }

  .nav-link:nth-child(2) {
    border-right: none;
  }

  /* 2. PERSONAL INFORMATION */
  .job-la {
    grid-template-columns: 1fr 1fr;
  }

  .job-info:nth-child(6) {
    grid-area: 2/2/3/3;
  }

  /* 3. CERTIFICATE & AWARDS */
  .total-img {
    flex-direction: column;
  }

  .content-img ul {
    padding: 10px;
  }

  .certificate::after {
    top: 53%;
    left: 50%;
  }

  .img {
    height: 100%;
    width: 100%;
  }

  /* 3. PROJECTS */
  .cv {
    font-size: 14px;
  }

  .tool {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 10px;
  }

  .tool-1 {
    grid-column: 2/3;
  }
}
